*.orig
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

rebel.xml
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
cbmp-domain/.DS_Store
cbmp-domain/cbmp-data-acquisition/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/java/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/java/com/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/java/com/mcu32/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/java/com/mcu32/cbmp/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/java/com/mcu32/cbmp/data/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/java/com/mcu32/cbmp/data/acquisition/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-collect-api/src/main/java/com/mcu32/cbmp/data/acquisition/collect/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/java/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/java/com/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/java/com/mcu32/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/java/com/mcu32/cbmp/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/java/com/mcu32/cbmp/data/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/java/com/mcu32/cbmp/data/acquisition/.DS_Store
cbmp-domain/cbmp-data-acquisition/data-param/src/main/java/com/mcu32/cbmp/data/acquisition/param/.DS_Store